<div  class="ui borderless main menu fixed nav-style" style="position: fixed; top: 0px; left: auto; z-index: 10;">
  <div class="ui text container">
    <div class="header item">
        <img src="./assets/images/love.png" alt="">
    </div>
    <a routerLink="/suggestion" class="item" routerLinkActive="active">L<3ve</a>
    <a href="https://www.youtube.com/watch?v=sIg8R5lDNzg" class="item">Nos saucisses</a>
    <a href="http://www.theseafoodbar.com/" class="item">Les moules</a>
  </div>
</div>

