<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Sitemap</a>
          <a href="#" class="item">Contact Us</a>
          <a href="#" class="item">Mon profil</a>
        </div>
      </div>
      <div class="three wide column">
        <h1 class="ui inverted header">Logos 3.0</h1>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header"> </h4>
        <p>Application web effectuée par la LogosTeam</p>
      </div>
    </div>
  </div>
</div>