<div class="ui huge aligned divided list">
    <div class="item" *ngFor="let conversation of conversations"   >
      <div class="right floated content">
          <div class="ui animated blue button"> 
              <div class="visible content">
               Contact
              </div>
              <div class="hidden content">
                <a routerLink="/messagerie">
                 <i class="comments outline icon"></i>
                </a> 
              </div>
          </div>
        
        </div> 
      <img class="ui avatar image" src="./assets/images/homme.jpg">
      <div class="content">
        <a class="header">{{conversation.titre}}</a>
      </div>
    </div>
  </div>
