

<div class="content">
    <div class="ui one cards">
        <div class="card">
            <div class="ui grid">
                <div class="four wide column">
                    <img class="left floated mini ui image" src="./assets/images/homme.jpg">
                </div>
                <div class="four wide column">
                    <ul class="ui list">
                        <li>Espagnol b2</li>
                        <li>Brésilien a1</li>
                        <li>Swahili c2</li>
                    </ul>
                </div>
                <div class="four wide column">
                  Age
                </div>
                <div class="four wide column">
                  geoloc
                </div>
              </div>
          <div class="ui two buttons">
              <div class="ui basic green button">Approve</div>
              <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>
</div>


<div class="content">
    <div class="ui one cards">
        <div class="red card">
            <div class="ui grid">
                <div class="four wide column">
                  <div class="image">
                    <img class="left floated tiny ui image" src="./assets/images/homme.jpg">
                  </div>
                  <div class="content">
                      <a class="header">Kristy</a>
                      <div class="meta">
                        <span class="date">Joined in 2013</span>
                      </div>
                      <div class="description">
                        Kristy is an art director living in New York.
                      </div>
                    </div>
                    
                    
                </div>
                <div class="four wide column">
                    <ul class="ui list">
                        <li>Espagnol b2</li>
                        <li>Brésilien a1</li>
                        <li>Swahili c2</li>
                    </ul>
                </div>
                <div class="four wide column">
                  Age
                </div>
                <div class="four wide column">
                  geoloc
                </div>
              </div>
         
              <div class="ui text container">
                  <p>I'm here to tell you something, and you will probably read me first. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
              </div>

              <div class="ui grid">
                 <div class="center aligned two column row">
                    <div class="column">
                      Mange tes morts <3
                    </div>
                    <div class="column">
                        <button class="ui basic red button">
                            <i class="comments outline icon"></i>
                            contact
                          </button>
                    </div>
                  </div>
                
              </div>
          <div class="ui two buttons">
            <div class="ui basic green button">Approve</div>
            <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>
</div>