<div class="espacement"></div>
<div class="ui grid , fond">

  <div class="ten wide column">
    <div class="modal-conversation" *ngIf="showRecommandation">
           <i class="close icon" (click)="onCloseModal()"></i>
        <div></div>
        <!--    <form> -->
   
            <div class="ui action input textArea">
                <input placeholder="Titre" type="text">
                <button class="ui button blue">valider</button>
              </div>
       
        <!--      </form> -->
   
    </div>


    <div *ngFor="let person of people; let i = index" (click)="onShowPresentation(i)">
      <div class="spacer"></div>
      <div class="ui cards , containerCard">
        <div class="card">
          <div class="image">
            <img src="{{person.photo}}">
          </div>
          <div class="content">
            <div class="header"> {{person.prenom}} {{person.nom}}</div>
            <div class="comments">
              {{person.presentation}}
            </div>
          </div>
          <div class="extra content">
            <div class="left">
              <button class="ui blue button" (click)="createConversation()">
                <i class="comments outline icon"></i>
                contact
              </button>
              <span (click)="sendLove(person.id)">
                <i class="red heart icon"></i>
                love
              </span>
            </div>
          </div>
        </div>
        <div id="outerspacingfiche"></div>
      </div>
    </div>

  </div>

  <div class="four wide column">
    <div class="chat">
      <app-contact-messagerie></app-contact-messagerie>
    </div>
  </div>
</div>



<!--         <form class="ui form">
-->