.espacement {
    margin-top: 7em;
}

.fiche {
    margin-left: 3em;
}

.chatcontainer {
    padding: 2em;
    margin-left: 7em;
    background-color: gainsboro;
}

.imageprofil, .monprofil {
    background-color: gainsboro;
}

.motif {
    font-size: 16pt;
}

body {
    background-image: url("/assets/images/greywallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
}