<html>
    <body>
<div class="espacement"></div>
<div class="ui grid , fiche">
  <div class="five wide column , imageprofil">
      <img class="ui centered medium image" src="./assets/images/homme.jpg">

      <h2 class="ui dividing centered header">
          
        Ma Présentation</h2>

      <h5 class="ui header">{{userConnected.presentation}}</h5>
      
  </div>
  <div class="six wide column , monprofil">
      <h1 class="ui  header">Mon profil</h1>
      
   <h4 class="ui header">{{userConnected.nom}} {{userConnected.prenom}} <i class="map marker alternate icon"></i></h4> <p>Ma ville  </p>
      
  </div>
  <div class="chatcontainer">
  <div class="four wide column , chat">
      <app-contact-messagerie></app-contact-messagerie>
  </div>
</div>
</div>
</body>
</html>












