
<script>$('#multi-select').dropdown();</script>
<div class="connexion-container">

    <div class="modal-connect" *ngIf="showModal">
       <div><i class="close icon" (click)="onCloseModal()"></i></div> 
<!--         <form class="ui form">
 -->        <div class="ui stacked segment">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="ui input">
                          <input placeholder="Nom" type="text">
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui input">
                            <input placeholder="Prenom" type="text">
                        </div>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="ui left icon input">
                            <input placeholder="Mail" type="email">
                            <i class="envelope outline icon"></i>
                      </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui left icon input">
                            <input placeholder="Date de naissance" type="date">
                           <i class="calendar alternate outline icon"></i>
                          </div>
                    </div>
                </div>
                <select class="ui selection dropdown" >
                <option value="" disabled selected>Sexe</option>
                <option value="h">Homme</option>
                <option value="f">Femme</option>
                <option value="other">Autre</option>
                </select>
                <div class="field">
                    <label>Présente toi</label>
                    <textarea rows="3"></textarea>
                  </div>
    
            </div>
            <div class="eight wide column">
                <select class="ui selection dropdown" >
                    <option value="" disabled selected>Je recherche...</option>
                    <option value="h">Homme</option>
                    <option value="f">Femme</option>
                    <option value="other">tout</option>
                  </select>
                  <select class="ui selection dropdown" >
                      <option value="" disabled selected>Age</option>
                      <option value="jeune">jeune</option>
                      <option value="moyen">milf</option>
                      <option value="++">Autre</option>
                    </select>
                    
                    <div class="field">
                        <label>Centre d'intérêt</label>
                        <select multiple="" class="ui dropdown" id="multi-select">
                          <option value="">Select Country</option>
                          <option value="AF">Afghanistan</option>
                          <option value="AX">Åland Islands</option>
                          <option value="AL">Albania</option>
                          <option value="DZ">Algeria</option>
                          <option value="AS">American Samoa</option>
                          <option value="AD">Andorra</option>
                          <option value="AO">Angola</option>
                          <option value="AI">Anguilla</option>
                        </select>
                      </div>
            </div>

        </div>
       
        <div class="image content">
       

        </div>
        <div class="actions">
            <button class="fluid ui blue button">Fits container</button>
            
        </div>
        </div>
<!--       </form>
 -->      </div>


    
    <div class="form-container" *ngIf="!showModal" > 
        <form [formGroup]="connexionForm" (ngSubmit)="onConnect()" class="ui mini form">
        <div class="ui stacked segment">
            <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text"  formControlName="login" placeholder="Login">
            </div>
            </div>
            <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" formControlName="password" placeholder="Password">
            </div>
            </div>
            <div class="ui fluid large teal submit button">
                <button class="ui primary button" type="submit">
                        Connexion
                </button>
            </div>
        </div>
    
        <div class="ui error message"></div>
    
        </form>

        <div class="ui message" >
          New to us? <button (click)="onShowModal()"  class="ui blue basic button" >Sign Up</button>

        </div>
</div>

</div>





    