<div class="connexion-container">

    <div class="modal-connect" *ngIf="showModal"  >
        <i class="close icon"></i>
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="ui input">
                          <input placeholder="Nom" type="text">
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui input">
                            <input placeholder="Prenom" type="text">
                        </div>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="ui left icon input">
                            <input placeholder="Mail" type="email">
                            <i class="envelope outline icon"></i>
                      </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui left icon input">
                            <input placeholder="Date de naissance" type="date">
                           <i class="calendar alternate outline icon"></i>
                          </div>
                    </div>
                </div>
                <div class="ui selection dropdown">
                    <input name="card[type]" type="hidden">
                    <div class="default text">Type</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" data-value="visa">
                        <i class="visa icon"></i>
                        Visa
                      </div>
                      <div class="item" data-value="amex">
                        <i class="amex icon"></i>
                        American Express
                      </div>
                      <div class="item" data-value="discover">
                        <i class="discover icon"></i>
                        Discover
                      </div>
                    </div>
                  </div>
          
           


         
                
            </div>
            <div class="eight wide column">
               
            </div>
        </div>
       
        <div class="image content">
       
          <div class="description">
            <div class="ui header">We've auto-chosen a profile image for you.</div>
            <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
            <p>Is it okay to use this photo?</p>
          </div>
        </div>
        <div class="actions">
          <div class="ui black deny button">
            Nope
          </div>
          <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>


    
    <div class="form-container" *ngIf="!showModal" > 
        <form class="ui mini form">
        <div class="ui stacked segment">
            <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="email" placeholder="E-mail address">
            </div>
            </div>
            <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password">
            </div>
            </div>
            <div class="ui fluid large teal submit button">Login</div>
        </div>
    
        <div class="ui error message"></div>
    
        </form>

        <div class="ui message" >
          New to us? <button (click)="onShowModal()"  class="ui blue basic button" >Sign Up</button>

        </div>
</div>

</div>





    