<div class="espacement"></div>
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="ten wide column">
    <h3 class="ui dividing header">{{ messagesService.messages.titre}}</h3>
    <div *ngFor="let msg of messagesService.messages.messages">
      <div class="ui comments">

        <div class="comment">
          <a class="avatar">
            <img src="/images/avatar/small/matt.jpg">
          </a>
          <div class="content">
            <a class="author">
              {{msg.auteur.nom}} {{msg.auteur.prenom}}
            </a>
            <div class="metadata">
              <span class="date">{{msg.dateEnvoi | date:'fullDate'}}</span>
            </div>
          </div>
          <div class="text">
            {{msg.contenu}}
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage(messagesService.messages.id)" class="ui reply form">
      <div class="field">
        <textarea formControlName="contenu"></textarea>
      </div>
      <button class="ui primary button" type="submit">
          Envoyer
      </button>
    </form>

  </div>
  <div class="four wide column">
    <app-contact-messagerie></app-contact-messagerie>
  </div>
</div>